<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_SVVUsLaZEeef4KXvt0hZZQ" specification="interface:&#xA;&#xA;// Eventos&#xA;in event evPresencia&#xA;in event evNoPresencia&#xA;&#xA;in event evAbrio&#xA;in event evCerro&#xA;&#xA;&#xA;// Operaciones&#xA;operation opMotor(Action:boolean, State:boolean):void&#xA;operation opLuzRoja(Action:boolean, State:boolean):void&#xA;&#xA;&#xA;// Constantes&#xA;const OPEN:boolean = true&#xA;const CLOSE:boolean = false&#xA;&#xA;const ON:boolean = true&#xA;const OFF:boolean = false&#xA;&#xA;const ONoFF:boolean = true&#xA;const TOGGLE:boolean = false&#xA;&#xA;&#xA;internal:&#xA;&#xA;event siTitilar&#xA;event siNoTitilar&#xA;" name="PuertaCorrediza">
    <regions xmi:id="_zBLYcLacEeef4KXvt0hZZQ" name="PUERTAcORREDIZA">
      <vertices xsi:type="sgraph:State" xmi:id="_0mV_cLacEeef4KXvt0hZZQ" specification="entry / opMotor(CLOSE, OFF)" name="CERRADO" incomingTransitions="_EvLrQLadEeef4KXvt0hZZQ _tMMFkLadEeef4KXvt0hZZQ">
        <outgoingTransitions xmi:id="_Hg6zELadEeef4KXvt0hZZQ" specification="evPresencia / raise siTitilar" target="_3gjGwLacEeef4KXvt0hZZQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_2UgxcLacEeef4KXvt0hZZQ" specification="entry / opMotor(CLOSE, ON)" name="CERRANDO" incomingTransitions="_CJ0ykLadEeef4KXvt0hZZQ _SgFTYI-oEeqcP7iWwkbD4A">
        <outgoingTransitions xmi:id="_EvLrQLadEeef4KXvt0hZZQ" specification="evCerro / raise siNoTitilar" target="_0mV_cLacEeef4KXvt0hZZQ"/>
        <outgoingTransitions xmi:id="_Tdf50LadEeef4KXvt0hZZQ" specification="evPresencia" target="_3gjGwLacEeef4KXvt0hZZQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_3gjGwLacEeef4KXvt0hZZQ" specification="entry / opMotor(OPEN, ON)" name="ABRIENDO" incomingTransitions="_Hg6zELadEeef4KXvt0hZZQ _Tdf50LadEeef4KXvt0hZZQ">
        <outgoingTransitions xmi:id="_MpG04LadEeef4KXvt0hZZQ" specification="evAbrio" target="_4vY4cLacEeef4KXvt0hZZQ"/>
        <outgoingTransitions xmi:id="_SgFTYI-oEeqcP7iWwkbD4A" specification="evNoPresencia" target="_2UgxcLacEeef4KXvt0hZZQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_4vY4cLacEeef4KXvt0hZZQ" specification="entry / opMotor(OPEN, OFF)" name="ABIERTO" incomingTransitions="_MpG04LadEeef4KXvt0hZZQ">
        <outgoingTransitions xmi:id="_CJ0ykLadEeef4KXvt0hZZQ" specification="evNoPresencia" target="_2UgxcLacEeef4KXvt0hZZQ"/>
      </vertices>
      <vertices xsi:type="sgraph:Entry" xmi:id="_rvooALadEeef4KXvt0hZZQ">
        <outgoingTransitions xmi:id="_tMMFkLadEeef4KXvt0hZZQ" specification="" target="_0mV_cLacEeef4KXvt0hZZQ"/>
      </vertices>
    </regions>
    <regions xmi:id="_eu-8YI-sEeqcP7iWwkbD4A" name="LUZrOJA">
      <vertices xsi:type="sgraph:State" xmi:id="_lxdgoI-sEeqcP7iWwkbD4A" specification="entry / opLuzRoja(ONoFF, OFF)" name="APAGADA" incomingTransitions="_yoVFYI-sEeqcP7iWwkbD4A _ODQwgI-tEeqcP7iWwkbD4A">
        <outgoingTransitions xmi:id="_K88f0I-tEeqcP7iWwkbD4A" specification="siTitilar" target="_2OViwI-sEeqcP7iWwkbD4A"/>
      </vertices>
      <vertices xsi:type="sgraph:Entry" xmi:id="_sbGuII-sEeqcP7iWwkbD4A">
        <outgoingTransitions xmi:id="_yoVFYI-sEeqcP7iWwkbD4A" specification="" target="_lxdgoI-sEeqcP7iWwkbD4A"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_2OViwI-sEeqcP7iWwkbD4A" specification="entry / opLuzRoja(TOGGLE, ON)" name="Titilar" incomingTransitions="_K88f0I-tEeqcP7iWwkbD4A _f23VAI-tEeqcP7iWwkbD4A">
        <outgoingTransitions xmi:id="_ODQwgI-tEeqcP7iWwkbD4A" specification="siNoTitilar" target="_lxdgoI-sEeqcP7iWwkbD4A"/>
        <outgoingTransitions xmi:id="_f23VAI-tEeqcP7iWwkbD4A" specification="after 500 ms" target="_2OViwI-sEeqcP7iWwkbD4A"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_SVY_ELaZEeef4KXvt0hZZQ" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_SVVUsLaZEeef4KXvt0hZZQ" measurementUnit="Pixel">
    <children xsi:type="notation:Shape" xmi:id="_SVd3l7aZEeef4KXvt0hZZQ" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_SVeeoLaZEeef4KXvt0hZZQ" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_SVeeobaZEeef4KXvt0hZZQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_SVeeoraZEeef4KXvt0hZZQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_SVeeo7aZEeef4KXvt0hZZQ" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_SVeepLaZEeef4KXvt0hZZQ"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_SVeepbaZEeef4KXvt0hZZQ" x="10" y="10" width="408" height="466"/>
    </children>
    <children xmi:id="_zBNNoLacEeef4KXvt0hZZQ" type="Region" element="_zBLYcLacEeef4KXvt0hZZQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_zBN0sLacEeef4KXvt0hZZQ" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_zBN0sbacEeef4KXvt0hZZQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_zBN0sracEeef4KXvt0hZZQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_zBObwLacEeef4KXvt0hZZQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_0mYbsLacEeef4KXvt0hZZQ" type="State" element="_0mV_cLacEeef4KXvt0hZZQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_0mZCwLacEeef4KXvt0hZZQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_0mZCwbacEeef4KXvt0hZZQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_0mZCwracEeef4KXvt0hZZQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_0mZCw7acEeef4KXvt0hZZQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_0mZCxLacEeef4KXvt0hZZQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_0mZCxbacEeef4KXvt0hZZQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_0mZCxracEeef4KXvt0hZZQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_0mYbsbacEeef4KXvt0hZZQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_0mYbsracEeef4KXvt0hZZQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_0mZCx7acEeef4KXvt0hZZQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_0mYbs7acEeef4KXvt0hZZQ" x="111" y="-43" width="208" height="53"/>
        </children>
        <children xmi:id="_2Uj0wLacEeef4KXvt0hZZQ" type="State" element="_2UgxcLacEeef4KXvt0hZZQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_2UlC4LacEeef4KXvt0hZZQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_2UlC4bacEeef4KXvt0hZZQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_2UlC4racEeef4KXvt0hZZQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_2UlC47acEeef4KXvt0hZZQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_2Ulp8LacEeef4KXvt0hZZQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_2Ulp8bacEeef4KXvt0hZZQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_2UmRALacEeef4KXvt0hZZQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_2Uj0wbacEeef4KXvt0hZZQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_2Uj0wracEeef4KXvt0hZZQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_2UmRAbacEeef4KXvt0hZZQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_2Uj0w7acEeef4KXvt0hZZQ" x="-3" y="58" width="203" height="53"/>
        </children>
        <children xmi:id="_3gmxILacEeef4KXvt0hZZQ" type="State" element="_3gjGwLacEeef4KXvt0hZZQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_3gnYM7acEeef4KXvt0hZZQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_3gnYNLacEeef4KXvt0hZZQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_3gnYNbacEeef4KXvt0hZZQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_3gnYNracEeef4KXvt0hZZQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_3gnYN7acEeef4KXvt0hZZQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_3gnYOLacEeef4KXvt0hZZQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_3gn_QLacEeef4KXvt0hZZQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_3gnYMLacEeef4KXvt0hZZQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_3gnYMbacEeef4KXvt0hZZQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_3gn_QbacEeef4KXvt0hZZQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_3gnYMracEeef4KXvt0hZZQ" x="221" y="61" width="196" height="53"/>
        </children>
        <children xmi:id="_4vatoracEeef4KXvt0hZZQ" type="State" element="_4vY4cLacEeef4KXvt0hZZQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_4vbUs7acEeef4KXvt0hZZQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_4vbUtLacEeef4KXvt0hZZQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_4vbUtbacEeef4KXvt0hZZQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_4vbUtracEeef4KXvt0hZZQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_4vbUt7acEeef4KXvt0hZZQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_4vbUuLacEeef4KXvt0hZZQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_4vb7wLacEeef4KXvt0hZZQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_4vbUsLacEeef4KXvt0hZZQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_4vbUsbacEeef4KXvt0hZZQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_4vb7wbacEeef4KXvt0hZZQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_4vbUsracEeef4KXvt0hZZQ" x="111" y="169" width="208" height="56"/>
        </children>
        <children xmi:id="_rvv8wLadEeef4KXvt0hZZQ" type="Entry" element="_rvooALadEeef4KXvt0hZZQ">
          <children xmi:id="_rvxK4LadEeef4KXvt0hZZQ" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_rvxK47adEeef4KXvt0hZZQ" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_rvxK5LadEeef4KXvt0hZZQ"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_rvxK5badEeef4KXvt0hZZQ"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_rvxK4badEeef4KXvt0hZZQ" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_rvxK4radEeef4KXvt0hZZQ"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_rvv8wbadEeef4KXvt0hZZQ" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_rvv8wradEeef4KXvt0hZZQ" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_rvv8w7adEeef4KXvt0hZZQ" x="6" y="-31"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_zBObwbacEeef4KXvt0hZZQ"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_zBNNobacEeef4KXvt0hZZQ" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_zBNNoracEeef4KXvt0hZZQ" x="425" y="10" width="442" height="321"/>
    </children>
    <children xmi:id="_eu-8YY-sEeqcP7iWwkbD4A" type="Region" element="_eu-8YI-sEeqcP7iWwkbD4A">
      <children xsi:type="notation:DecorationNode" xmi:id="_eu-8ZI-sEeqcP7iWwkbD4A" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_eu-8ZY-sEeqcP7iWwkbD4A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_eu-8Zo-sEeqcP7iWwkbD4A"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_evIGUI-sEeqcP7iWwkbD4A" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_lxdgo4-sEeqcP7iWwkbD4A" type="State" element="_lxdgoI-sEeqcP7iWwkbD4A">
          <children xsi:type="notation:DecorationNode" xmi:id="_lxdgp4-sEeqcP7iWwkbD4A" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_lxdgqI-sEeqcP7iWwkbD4A"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_lxdgqY-sEeqcP7iWwkbD4A"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_lxdgqo-sEeqcP7iWwkbD4A" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_lxdgq4-sEeqcP7iWwkbD4A" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_lxdgrI-sEeqcP7iWwkbD4A"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_lxdgrY-sEeqcP7iWwkbD4A" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_lxdgpI-sEeqcP7iWwkbD4A" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_lxdgpY-sEeqcP7iWwkbD4A"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_lxdgro-sEeqcP7iWwkbD4A" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_lxdgpo-sEeqcP7iWwkbD4A" x="117" y="-1" width="225"/>
        </children>
        <children xmi:id="_sbGuIY-sEeqcP7iWwkbD4A" type="Entry" element="_sbGuII-sEeqcP7iWwkbD4A">
          <children xmi:id="_sbGuJY-sEeqcP7iWwkbD4A" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_sbGuKI-sEeqcP7iWwkbD4A" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_sbGuKY-sEeqcP7iWwkbD4A"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_sbGuKo-sEeqcP7iWwkbD4A"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_sbGuJo-sEeqcP7iWwkbD4A" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_sbGuJ4-sEeqcP7iWwkbD4A"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_sbGuIo-sEeqcP7iWwkbD4A" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_sbGuI4-sEeqcP7iWwkbD4A" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_sbGuJI-sEeqcP7iWwkbD4A" x="19" y="15"/>
        </children>
        <children xmi:id="_2OViw4-sEeqcP7iWwkbD4A" type="State" element="_2OViwI-sEeqcP7iWwkbD4A">
          <children xsi:type="notation:DecorationNode" xmi:id="_2OVix4-sEeqcP7iWwkbD4A" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_2OViyI-sEeqcP7iWwkbD4A"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_2OViyY-sEeqcP7iWwkbD4A"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_2OessI-sEeqcP7iWwkbD4A" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_2OessY-sEeqcP7iWwkbD4A" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_2Oesso-sEeqcP7iWwkbD4A"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_2Oess4-sEeqcP7iWwkbD4A" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_2OVixI-sEeqcP7iWwkbD4A" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_2OVixY-sEeqcP7iWwkbD4A"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_2OestI-sEeqcP7iWwkbD4A" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_2OVixo-sEeqcP7iWwkbD4A" x="117" y="91" width="225"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_evIGUY-sEeqcP7iWwkbD4A"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_eu-8Yo-sEeqcP7iWwkbD4A" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_eu-8Y4-sEeqcP7iWwkbD4A" x="425" y="330" width="442" height="198"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_SVY_EbaZEeef4KXvt0hZZQ"/>
    <edges xmi:id="_CJ2AsLadEeef4KXvt0hZZQ" type="Transition" element="_CJ0ykLadEeef4KXvt0hZZQ" source="_4vatoracEeef4KXvt0hZZQ" target="_2Uj0wLacEeef4KXvt0hZZQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_CJ2nwbadEeef4KXvt0hZZQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_CJ2nwradEeef4KXvt0hZZQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_CJ2nw7adEeef4KXvt0hZZQ" x="29" y="56"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_CJ2AsbadEeef4KXvt0hZZQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_CJ2nwLadEeef4KXvt0hZZQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_CJ2AsradEeef4KXvt0hZZQ" points="[0, 0, 128, 97]$[-158, 0, -30, 97]$[-158, -91, -30, 6]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_CJ314LadEeef4KXvt0hZZQ" id="(0.0,0.5633802816901409)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_CJ314badEeef4KXvt0hZZQ" id="(0.3,0.8867924528301887)"/>
    </edges>
    <edges xmi:id="_EvOHgLadEeef4KXvt0hZZQ" type="Transition" element="_EvLrQLadEeef4KXvt0hZZQ" source="_2Uj0wLacEeef4KXvt0hZZQ" target="_0mYbsLacEeef4KXvt0hZZQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_EvOukbadEeef4KXvt0hZZQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_EvOukradEeef4KXvt0hZZQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_EvOuk7adEeef4KXvt0hZZQ" x="-30" y="85"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_EvOHgbadEeef4KXvt0hZZQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_EvOukLadEeef4KXvt0hZZQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_EvOHgradEeef4KXvt0hZZQ" points="[11, 0, -95, 94]$[11, -70, -95, 24]$[75, -70, -31, 24]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_EvP8sLadEeef4KXvt0hZZQ" id="(0.25,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_EvP8sbadEeef4KXvt0hZZQ" id="(0.1095890410958904,0.2857142857142857)"/>
    </edges>
    <edges xmi:id="_Hg8BMLadEeef4KXvt0hZZQ" type="Transition" element="_Hg6zELadEeef4KXvt0hZZQ" source="_0mYbsLacEeef4KXvt0hZZQ" target="_3gmxILacEeef4KXvt0hZZQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_Hg8BNLadEeef4KXvt0hZZQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Hg8BNbadEeef4KXvt0hZZQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Hg8BNradEeef4KXvt0hZZQ" x="-57" y="22"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Hg8BMbadEeef4KXvt0hZZQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Hg8BM7adEeef4KXvt0hZZQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Hg8BMradEeef4KXvt0hZZQ" points="[32, -37, -22, -83]$[69, -37, 15, -83]$[69, 34, 15, -12]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Hg9PULadEeef4KXvt0hZZQ" id="(0.8561643835616438,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Hg9PUbadEeef4KXvt0hZZQ" id="(0.6140350877192983,0.11320754716981132)"/>
    </edges>
    <edges xmi:id="_MpJ4MLadEeef4KXvt0hZZQ" type="Transition" element="_MpG04LadEeef4KXvt0hZZQ" source="_3gmxILacEeef4KXvt0hZZQ" target="_4vatoracEeef4KXvt0hZZQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_MpJ4NLadEeef4KXvt0hZZQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_MpJ4NbadEeef4KXvt0hZZQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_MpKfQLadEeef4KXvt0hZZQ" x="-23" y="31"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_MpJ4MbadEeef4KXvt0hZZQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_MpJ4M7adEeef4KXvt0hZZQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_MpJ4MradEeef4KXvt0hZZQ" points="[18, 0, 80, -100]$[18, 85, 80, -15]$[-22, 85, 40, -15]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_MpLtYLadEeef4KXvt0hZZQ" id="(0.5555555555555556,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_MpLtYbadEeef4KXvt0hZZQ" id="(0.864516129032258,0.8028169014084507)"/>
    </edges>
    <edges xmi:id="_TdjkMLadEeef4KXvt0hZZQ" type="Transition" element="_Tdf50LadEeef4KXvt0hZZQ" source="_2Uj0wLacEeef4KXvt0hZZQ" target="_3gmxILacEeef4KXvt0hZZQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_TdjkNLadEeef4KXvt0hZZQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_TdjkNbadEeef4KXvt0hZZQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_TdkLQLadEeef4KXvt0hZZQ" x="81" y="-15"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_TdjkMbadEeef4KXvt0hZZQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_TdjkM7adEeef4KXvt0hZZQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_TdjkMradEeef4KXvt0hZZQ" points="[-48, -31, -141, -26]$[-48, -46, -141, -41]$[92, -46, -1, -41]$[92, -31, -1, -26]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_TdlZYLadEeef4KXvt0hZZQ" id="(1.0,0.5849056603773585)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_TdlZYbadEeef4KXvt0hZZQ" id="(0.0935672514619883,0.5471698113207547)"/>
    </edges>
    <edges xmi:id="_tMPI4LadEeef4KXvt0hZZQ" type="Transition" element="_tMMFkLadEeef4KXvt0hZZQ" source="_rvv8wLadEeef4KXvt0hZZQ" target="_0mYbsLacEeef4KXvt0hZZQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_tMPv8LadEeef4KXvt0hZZQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_tMPv8badEeef4KXvt0hZZQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_tMPv8radEeef4KXvt0hZZQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_tMPI4badEeef4KXvt0hZZQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_tMPI47adEeef4KXvt0hZZQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_tMPI4radEeef4KXvt0hZZQ" points="[7, 0, -170, -17]$[68, 0, -109, -17]"/>
    </edges>
    <edges xmi:id="_SgPEYI-oEeqcP7iWwkbD4A" type="Transition" element="_SgFTYI-oEeqcP7iWwkbD4A" source="_3gmxILacEeef4KXvt0hZZQ" target="_2Uj0wLacEeef4KXvt0hZZQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_SgYOUY-oEeqcP7iWwkbD4A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_SgYOUo-oEeqcP7iWwkbD4A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_SgYOU4-oEeqcP7iWwkbD4A" x="-16" y="-18"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_SgPEYY-oEeqcP7iWwkbD4A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_SgYOUI-oEeqcP7iWwkbD4A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_SgPEYo-oEeqcP7iWwkbD4A" points="[6, 12, 175, 6]$[6, 32, 175, 26]$[-156, 32, 13, 26]$[-156, 9, 13, 3]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_SgYOVI-oEeqcP7iWwkbD4A" id="(0.06944444444444445,0.7547169811320755)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_SgYOVY-oEeqcP7iWwkbD4A" id="(0.7673611111111112,0.9433962264150944)"/>
    </edges>
    <edges xmi:id="_yoe2YI-sEeqcP7iWwkbD4A" type="Transition" element="_yoVFYI-sEeqcP7iWwkbD4A" source="_sbGuIY-sEeqcP7iWwkbD4A" target="_lxdgo4-sEeqcP7iWwkbD4A">
      <children xsi:type="notation:DecorationNode" xmi:id="_yoe2ZI-sEeqcP7iWwkbD4A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_yoe2ZY-sEeqcP7iWwkbD4A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_yoe2Zo-sEeqcP7iWwkbD4A" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_yoe2YY-sEeqcP7iWwkbD4A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_yoe2Y4-sEeqcP7iWwkbD4A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_yoe2Yo-sEeqcP7iWwkbD4A" points="[8, 0, -114, 3]$[122, 0, 0, 3]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_yooAUI-sEeqcP7iWwkbD4A" id="(0.0,0.4716981132075472)"/>
    </edges>
    <edges xmi:id="_K9GQ0I-tEeqcP7iWwkbD4A" type="Transition" element="_K88f0I-tEeqcP7iWwkbD4A" source="_lxdgo4-sEeqcP7iWwkbD4A" target="_2OViw4-sEeqcP7iWwkbD4A">
      <children xsi:type="notation:DecorationNode" xmi:id="_K9GQ1I-tEeqcP7iWwkbD4A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_K9GQ1Y-tEeqcP7iWwkbD4A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_K9GQ1o-tEeqcP7iWwkbD4A" y="-35"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_K9GQ0Y-tEeqcP7iWwkbD4A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_K9GQ04-tEeqcP7iWwkbD4A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_K9GQ0o-tEeqcP7iWwkbD4A" points="[-12, 5, 1, -33]$[-12, 38, 1, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_K9GQ14-tEeqcP7iWwkbD4A" id="(0.669683257918552,0.9056603773584906)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_K9GQ2I-tEeqcP7iWwkbD4A" id="(0.6133333333333333,0.018867924528301886)"/>
    </edges>
    <edges xmi:id="_ODQwgY-tEeqcP7iWwkbD4A" type="Transition" element="_ODQwgI-tEeqcP7iWwkbD4A" source="_2OViw4-sEeqcP7iWwkbD4A" target="_lxdgo4-sEeqcP7iWwkbD4A">
      <children xsi:type="notation:DecorationNode" xmi:id="_ODQwhY-tEeqcP7iWwkbD4A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_ODQwho-tEeqcP7iWwkbD4A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_ODQwh4-tEeqcP7iWwkbD4A" x="-1" y="-58"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_ODQwgo-tEeqcP7iWwkbD4A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_ODQwhI-tEeqcP7iWwkbD4A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_ODQwg4-tEeqcP7iWwkbD4A" points="[5, 0, 3, 36]$[5, -33, 3, 3]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ODahgI-tEeqcP7iWwkbD4A" id="(0.38666666666666666,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ODahgY-tEeqcP7iWwkbD4A" id="(0.4072398190045249,0.9433962264150944)"/>
    </edges>
    <edges xmi:id="_f23VAY-tEeqcP7iWwkbD4A" type="Transition" element="_f23VAI-tEeqcP7iWwkbD4A" source="_2OViw4-sEeqcP7iWwkbD4A" target="_2OViw4-sEeqcP7iWwkbD4A">
      <children xsi:type="notation:DecorationNode" xmi:id="_f23VBY-tEeqcP7iWwkbD4A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_f23VBo-tEeqcP7iWwkbD4A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_f23VB4-tEeqcP7iWwkbD4A" x="27" y="17"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_f23VAo-tEeqcP7iWwkbD4A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_f23VBI-tEeqcP7iWwkbD4A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_f23VA4-tEeqcP7iWwkbD4A" points="[5, 16, 5, 16]$[37, 16, 37, 16]$[37, -13, 37, -13]$[5, -13, 5, -13]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_f3BGAI-tEeqcP7iWwkbD4A" id="(0.9777777777777777,0.49056603773584906)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_f3BGAY-tEeqcP7iWwkbD4A" id="(0.9777777777777777,0.49056603773584906)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
