<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_IPEiAI_CEeaE_NItBGtDFQ" specification="/* Panel de Control */&#xD;&#xA;&#xD;&#xA;interface:&#xD;&#xA;&#xD;&#xA;// eventos&#xD;&#xA;in event evClockAlert&#xD;&#xA;in event evSendData&#xD;&#xA;&#xD;&#xA;// operaciones&#xD;&#xA;operation opSetMeasure(): void&#xD;&#xA;operation opSetSleep(): void&#xD;&#xA;operation opSendData(): void&#xD;&#xA;operation opPrintData(): void&#xD;&#xA;operation opCheckInternet() : boolean&#xD;&#xA;&#xD;&#xA;&#xD;&#xA;// constantes&#xD;&#xA;&#xD;&#xA;const TIME_CONFIG: integer  = 100 &#xD;&#xA;var t: integer&#xD;&#xA;var dataUpload : boolean&#xD;&#xA;internal:&#xD;&#xA;" name="model">
    <regions xmi:id="_IPEiA4_CEeaE_NItBGtDFQ" name="Funcion">
      <vertices xsi:type="sgraph:Entry" xmi:id="_IPEiDY_CEeaE_NItBGtDFQ">
        <outgoingTransitions xmi:id="_XlKfgBMaEeevvbhLDk5fag" specification="" target="_EvYFTRMaEeevvbhLDk5fag"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_EvYFTRMaEeevvbhLDk5fag" specification="entry / opSetMeasure()" name="MEASURE" incomingTransitions="_XlKfgBMaEeevvbhLDk5fag _C107sCO-EeuMcbuHfjLLFA">
        <outgoingTransitions xmi:id="_cCAQQCO-EeuMcbuHfjLLFA" specification="after 1 s" target="_VAc5ECO-EeuMcbuHfjLLFA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_riCsICO9EeuMcbuHfjLLFA" specification="entry / opSetSleep()&#xD;&#xA;entry/ dataUpload = false" name="SLEEP" incomingTransitions="_X9RPgCO-EeuMcbuHfjLLFA">
        <outgoingTransitions xmi:id="_Aq6G0CO_EeuMcbuHfjLLFA" specification="after 1 s" target="_vBl8PCO9EeuMcbuHfjLLFA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_vBl8PCO9EeuMcbuHfjLLFA" specification="entry / t = TIME_CONFIG&#xD;&#xA;every 1 s [t > 0]/ t-=1&#xD;&#xA;" name="CLOCK SIGNAL" incomingTransitions="_Aq6G0CO_EeuMcbuHfjLLFA">
        <outgoingTransitions xmi:id="_C107sCO-EeuMcbuHfjLLFA" specification="[ t==0 ] " target="_EvYFTRMaEeevvbhLDk5fag"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_VAc5ECO-EeuMcbuHfjLLFA" specification="entry / opSendData()&#xD;&#xA;" name="SEND DATA" incomingTransitions="_cCAQQCO-EeuMcbuHfjLLFA _uvo3QCPCEeuMcbuHfjLLFA">
        <outgoingTransitions xmi:id="_X9RPgCO-EeuMcbuHfjLLFA" specification="after 1 s [dataUpload == true]" target="_riCsICO9EeuMcbuHfjLLFA"/>
        <outgoingTransitions xmi:id="_pheJQCPCEeuMcbuHfjLLFA" specification="evSendData [opCheckInternet() == true]" target="_nOahgCPCEeuMcbuHfjLLFA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_nOahgCPCEeuMcbuHfjLLFA" specification="entry / opPrintData()&#xD;&#xA;entry / dataUpload= true" name="SERVER" incomingTransitions="_pheJQCPCEeuMcbuHfjLLFA">
        <outgoingTransitions xmi:id="_uvo3QCPCEeuMcbuHfjLLFA" specification="after 1 s " target="_VAc5ECO-EeuMcbuHfjLLFA"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_IPEiAY_CEeaE_NItBGtDFQ" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_IPEiAI_CEeaE_NItBGtDFQ" measurementUnit="Pixel">
    <children xmi:id="_IPEiBI_CEeaE_NItBGtDFQ" type="Region" element="_IPEiA4_CEeaE_NItBGtDFQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_IPEiB4_CEeaE_NItBGtDFQ" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_IPEiCI_CEeaE_NItBGtDFQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_IPEiCY_CEeaE_NItBGtDFQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_IPEiCo_CEeaE_NItBGtDFQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_IPEiDo_CEeaE_NItBGtDFQ" type="Entry" element="_IPEiDY_CEeaE_NItBGtDFQ">
          <children xmi:id="_IPEiEY_CEeaE_NItBGtDFQ" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_IPEiFI_CEeaE_NItBGtDFQ" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_IPEiFY_CEeaE_NItBGtDFQ"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_IPEiFo_CEeaE_NItBGtDFQ"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_IPEiEo_CEeaE_NItBGtDFQ" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_IPEiE4_CEeaE_NItBGtDFQ"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_IPEiD4_CEeaE_NItBGtDFQ" fontName="Verdana" lineColor="4210752"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_IPEiF4_CEeaE_NItBGtDFQ" x="24" width="15" height="15"/>
        </children>
        <children xmi:id="_EvYFQRMaEeevvbhLDk5fag" type="State" element="_EvYFTRMaEeevvbhLDk5fag">
          <children xsi:type="notation:DecorationNode" xmi:id="_EvYFQhMaEeevvbhLDk5fag" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_EvYFQxMaEeevvbhLDk5fag"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_EvYFRBMaEeevvbhLDk5fag"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_EvYFRRMaEeevvbhLDk5fag" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_EvYFRhMaEeevvbhLDk5fag" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_EvYFRxMaEeevvbhLDk5fag"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_EvYFSBMaEeevvbhLDk5fag" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_EvYFSRMaEeevvbhLDk5fag" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_EvYFShMaEeevvbhLDk5fag"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_EvYFSxMaEeevvbhLDk5fag" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_EvYFTBMaEeevvbhLDk5fag" x="79" y="-23" width="204" height="63"/>
        </children>
        <children xmi:id="_riCFECO9EeuMcbuHfjLLFA" type="State" element="_riCsICO9EeuMcbuHfjLLFA">
          <children xsi:type="notation:DecorationNode" xmi:id="_riCFESO9EeuMcbuHfjLLFA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_riCFEiO9EeuMcbuHfjLLFA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_riCFEyO9EeuMcbuHfjLLFA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_riCFFCO9EeuMcbuHfjLLFA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_riCFFSO9EeuMcbuHfjLLFA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_riCFFiO9EeuMcbuHfjLLFA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_riCFFyO9EeuMcbuHfjLLFA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_riCFGCO9EeuMcbuHfjLLFA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_riCFGSO9EeuMcbuHfjLLFA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_riCFGiO9EeuMcbuHfjLLFA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_riCFGyO9EeuMcbuHfjLLFA" x="519" y="164" width="204" height="63"/>
        </children>
        <children xmi:id="_vBl8MCO9EeuMcbuHfjLLFA" type="State" element="_vBl8PCO9EeuMcbuHfjLLFA">
          <children xsi:type="notation:DecorationNode" xmi:id="_vBl8MSO9EeuMcbuHfjLLFA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_vBl8MiO9EeuMcbuHfjLLFA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_vBl8MyO9EeuMcbuHfjLLFA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_vBl8NCO9EeuMcbuHfjLLFA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_vBl8NSO9EeuMcbuHfjLLFA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_vBl8NiO9EeuMcbuHfjLLFA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_vBl8NyO9EeuMcbuHfjLLFA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_vBl8OCO9EeuMcbuHfjLLFA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_vBl8OSO9EeuMcbuHfjLLFA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_vBl8OiO9EeuMcbuHfjLLFA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_vBl8OyO9EeuMcbuHfjLLFA" x="519" y="-21" width="241" height="79"/>
        </children>
        <children xmi:id="_VAcSASO-EeuMcbuHfjLLFA" type="State" element="_VAc5ECO-EeuMcbuHfjLLFA">
          <children xsi:type="notation:DecorationNode" xmi:id="_VAcSAiO-EeuMcbuHfjLLFA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_VAcSAyO-EeuMcbuHfjLLFA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_VAcSBCO-EeuMcbuHfjLLFA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_VAcSBSO-EeuMcbuHfjLLFA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_VAcSBiO-EeuMcbuHfjLLFA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_VAcSByO-EeuMcbuHfjLLFA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_VAcSCCO-EeuMcbuHfjLLFA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_VAcSCSO-EeuMcbuHfjLLFA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_VAcSCiO-EeuMcbuHfjLLFA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_VAcSCyO-EeuMcbuHfjLLFA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_VAcSDCO-EeuMcbuHfjLLFA" x="79" y="164" width="204" height="63"/>
        </children>
        <children xmi:id="_nOZ6cSPCEeuMcbuHfjLLFA" type="State" element="_nOahgCPCEeuMcbuHfjLLFA">
          <children xsi:type="notation:DecorationNode" xmi:id="_nOZ6ciPCEeuMcbuHfjLLFA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_nOZ6cyPCEeuMcbuHfjLLFA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_nOZ6dCPCEeuMcbuHfjLLFA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_nOZ6dSPCEeuMcbuHfjLLFA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_nOZ6diPCEeuMcbuHfjLLFA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_nOZ6dyPCEeuMcbuHfjLLFA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_nOZ6eCPCEeuMcbuHfjLLFA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_nOZ6eSPCEeuMcbuHfjLLFA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_nOZ6eiPCEeuMcbuHfjLLFA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_nOZ6eyPCEeuMcbuHfjLLFA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_nOZ6fCPCEeuMcbuHfjLLFA" x="329" y="319" width="204" height="63"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_IPEiC4_CEeaE_NItBGtDFQ"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_IPEiBY_CEeaE_NItBGtDFQ" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_IPEiDI_CEeaE_NItBGtDFQ" x="315" y="-5" width="849" height="513"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_IPEiMI_CEeaE_NItBGtDFQ" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_IPOTAI_CEeaE_NItBGtDFQ" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_IPOTAY_CEeaE_NItBGtDFQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_IPOTAo_CEeaE_NItBGtDFQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_IPOTA4_CEeaE_NItBGtDFQ" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_IPOTBI_CEeaE_NItBGtDFQ"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_IPOTBY_CEeaE_NItBGtDFQ" x="-5" y="-15" width="317" height="513"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_IPEiAo_CEeaE_NItBGtDFQ"/>
    <styles xsi:type="notation:BooleanValueStyle" xmi:id="_kGUDMEd7EeqIz_OtR4ro9Q" name="inlineDefinitionSection" booleanValue="true"/>
    <edges xmi:id="_XlQmIBMaEeevvbhLDk5fag" type="Transition" element="_XlKfgBMaEeevvbhLDk5fag" source="_IPEiDo_CEeaE_NItBGtDFQ" target="_EvYFQRMaEeevvbhLDk5fag">
      <children xsi:type="notation:DecorationNode" xmi:id="_XlQmJBMaEeevvbhLDk5fag" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_XlQmJRMaEeevvbhLDk5fag"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_XlQmJhMaEeevvbhLDk5fag" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_XlQmIRMaEeevvbhLDk5fag" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_XlQmIxMaEeevvbhLDk5fag" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_XlQmIhMaEeevvbhLDk5fag" points="[7, 0, -154, 12]$[162, 17, 1, 29]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_XlWswBMaEeevvbhLDk5fag" id="(0.005719330569629971,0.5303030303030303)"/>
    </edges>
    <edges xmi:id="_C11iwCO-EeuMcbuHfjLLFA" type="Transition" element="_C107sCO-EeuMcbuHfjLLFA" source="_vBl8MCO9EeuMcbuHfjLLFA" target="_EvYFQRMaEeevvbhLDk5fag">
      <children xsi:type="notation:DecorationNode" xmi:id="_C11ixCO-EeuMcbuHfjLLFA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_C11ixSO-EeuMcbuHfjLLFA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_C11ixiO-EeuMcbuHfjLLFA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_C11iwSO-EeuMcbuHfjLLFA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_C11iwyO-EeuMcbuHfjLLFA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_C11iwiO-EeuMcbuHfjLLFA" points="[0, 8, 261, 4]$[-256, 24, 5, 20]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_C12J0CO-EeuMcbuHfjLLFA" id="(0.0,0.43543543543543545)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_C12J0SO-EeuMcbuHfjLLFA" id="(0.9019607843137255,0.6666666666666666)"/>
    </edges>
    <edges xmi:id="_X9RPgSO-EeuMcbuHfjLLFA" type="Transition" element="_X9RPgCO-EeuMcbuHfjLLFA" source="_VAcSASO-EeuMcbuHfjLLFA" target="_riCFECO9EeuMcbuHfjLLFA">
      <children xsi:type="notation:DecorationNode" xmi:id="_X9R2kiO-EeuMcbuHfjLLFA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_X9R2kyO-EeuMcbuHfjLLFA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_X9R2lCO-EeuMcbuHfjLLFA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_X9RPgiO-EeuMcbuHfjLLFA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_X9R2kSO-EeuMcbuHfjLLFA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_X9R2kCO-EeuMcbuHfjLLFA" points="[0, 0, -243, 3]$[244, 22, 1, 25]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_X9SdoCO-EeuMcbuHfjLLFA" id="(1.0,0.6349206349206349)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_X9SdoSO-EeuMcbuHfjLLFA" id="(0.014705882352941176,0.5714285714285714)"/>
    </edges>
    <edges xmi:id="_cCA3UCO-EeuMcbuHfjLLFA" type="Transition" element="_cCAQQCO-EeuMcbuHfjLLFA" source="_EvYFQRMaEeevvbhLDk5fag" target="_VAcSASO-EeuMcbuHfjLLFA">
      <children xsi:type="notation:DecorationNode" xmi:id="_cCA3VCO-EeuMcbuHfjLLFA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_cCA3VSO-EeuMcbuHfjLLFA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_cCA3ViO-EeuMcbuHfjLLFA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_cCA3USO-EeuMcbuHfjLLFA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_cCA3UyO-EeuMcbuHfjLLFA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_cCA3UiO-EeuMcbuHfjLLFA" points="[-31, 0, -21, -133]$[-31, 129, -21, -4]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_cCBeYCO-EeuMcbuHfjLLFA" id="(0.6568627450980392,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_cCBeYSO-EeuMcbuHfjLLFA" id="(0.6078431372549019,0.07936507936507936)"/>
    </edges>
    <edges xmi:id="_Aq6t4CO_EeuMcbuHfjLLFA" type="Transition" element="_Aq6G0CO_EeuMcbuHfjLLFA" source="_riCFECO9EeuMcbuHfjLLFA" target="_vBl8MCO9EeuMcbuHfjLLFA">
      <children xsi:type="notation:DecorationNode" xmi:id="_Aq6t5CO_EeuMcbuHfjLLFA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Aq6t5SO_EeuMcbuHfjLLFA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Aq7U8CO_EeuMcbuHfjLLFA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Aq6t4SO_EeuMcbuHfjLLFA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Aq6t4yO_EeuMcbuHfjLLFA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Aq6t4iO_EeuMcbuHfjLLFA" points="[3, 0, 3, 127]$[3, -127, 3, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Aq78ACO_EeuMcbuHfjLLFA" id="(0.5392156862745098,0.015873015873015872)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Aq78ASO_EeuMcbuHfjLLFA" id="(0.4546776337653705,0.7837837837837837)"/>
    </edges>
    <edges xmi:id="_phewUCPCEeuMcbuHfjLLFA" type="Transition" element="_pheJQCPCEeuMcbuHfjLLFA" source="_VAcSASO-EeuMcbuHfjLLFA" target="_nOZ6cSPCEeuMcbuHfjLLFA">
      <children xsi:type="notation:DecorationNode" xmi:id="_phewVCPCEeuMcbuHfjLLFA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_phewVSPCEeuMcbuHfjLLFA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_phewViPCEeuMcbuHfjLLFA" x="-28" y="20"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_phewUSPCEeuMcbuHfjLLFA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_phewUyPCEeuMcbuHfjLLFA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_phewUiPCEeuMcbuHfjLLFA" points="[-157, 0, -231, -105]$[-157, 77, -231, -28]$[72, 77, -2, -28]$[72, 102, -2, -3]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_phf-cCPCEeuMcbuHfjLLFA" id="(0.8921568627450981,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_phf-cSPCEeuMcbuHfjLLFA" id="(0.2696078431372549,0.06349206349206349)"/>
    </edges>
    <edges xmi:id="_uvpeUCPCEeuMcbuHfjLLFA" type="Transition" element="_uvo3QCPCEeuMcbuHfjLLFA" source="_nOZ6cSPCEeuMcbuHfjLLFA" target="_VAcSASO-EeuMcbuHfjLLFA">
      <children xsi:type="notation:DecorationNode" xmi:id="_uvpeVCPCEeuMcbuHfjLLFA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_uvpeVSPCEeuMcbuHfjLLFA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_uvpeViPCEeuMcbuHfjLLFA" x="24" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_uvpeUSPCEeuMcbuHfjLLFA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_uvpeUyPCEeuMcbuHfjLLFA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_uvpeUiPCEeuMcbuHfjLLFA" points="[-12, -6, 182, 102]$[-12, -81, 182, 27]$[-194, -81, 0, 27]$[-194, -108, 0, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_uvqFYCPCEeuMcbuHfjLLFA" id="(0.5833333333333334,0.1111111111111111)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_uvqscCPCEeuMcbuHfjLLFA" id="(0.6078431372549019,1.0)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
