<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_IPEiAI_CEeaE_NItBGtDFQ" specification="/* Panel de Control */&#xD;&#xA;&#xD;&#xA;interface:&#xD;&#xA;&#xD;&#xA;// eventos&#xD;&#xA;in event evForma&#xD;&#xA;in event evMagnitud&#xD;&#xA;in event evUp&#xD;&#xA;in event evDown&#xD;&#xA;&#xD;&#xA;&#xD;&#xA;// operaciones&#xD;&#xA;operation opSetForma(Number:integer): void&#xD;&#xA;operation opSetMagnitud(Number:integer): void&#xD;&#xA;&#xD;&#xA;operation opIncTens(): void&#xD;&#xA;operation opDecTens(): void&#xD;&#xA;operation opIncFrec(): void&#xD;&#xA;operation opDecFrec(): void&#xD;&#xA;&#xD;&#xA;&#xD;&#xA;// constantes&#xD;&#xA;const TRIANG: integer  = 0&#xD;&#xA;const CUADR: integer  = 1&#xD;&#xA;const SENOI: integer  = 2&#xD;&#xA;&#xD;&#xA;const TENS: integer  = 0&#xD;&#xA;const FREC: integer  = 1&#xD;&#xA;&#xD;&#xA;&#xD;&#xA;internal:&#xD;&#xA;" name="model">
    <regions xmi:id="_IPEiA4_CEeaE_NItBGtDFQ" name="Funcion">
      <vertices xsi:type="sgraph:Entry" xmi:id="_IPEiDY_CEeaE_NItBGtDFQ">
        <outgoingTransitions xmi:id="_XlKfgBMaEeevvbhLDk5fag" specification="" target="_EvYFTRMaEeevvbhLDk5fag"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_EvYFTRMaEeevvbhLDk5fag" specification="entry / opSetForma(TRIANG)" name="TRIANGULAR" incomingTransitions="_XlKfgBMaEeevvbhLDk5fag _MI5VIItFEeqI8PSndUKCUQ">
        <outgoingTransitions xmi:id="_BWsW0ItFEeqI8PSndUKCUQ" specification="evForma" target="_wcPn7ItEEeqI8PSndUKCUQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_wcPn7ItEEeqI8PSndUKCUQ" specification="entry / opSetForma(CUADR)" name="CUADRADA" incomingTransitions="_BWsW0ItFEeqI8PSndUKCUQ">
        <outgoingTransitions xmi:id="_IcCB0ItFEeqI8PSndUKCUQ" specification="evForma" target="_zCMWfItEEeqI8PSndUKCUQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_zCMWfItEEeqI8PSndUKCUQ" specification="entry / opSetForma(SENOI)" name="SENOIDAL" incomingTransitions="_IcCB0ItFEeqI8PSndUKCUQ">
        <outgoingTransitions xmi:id="_MI5VIItFEeqI8PSndUKCUQ" specification="evForma" target="_EvYFTRMaEeevvbhLDk5fag"/>
      </vertices>
    </regions>
    <regions xmi:id="_XHmo8ItGEeqI8PSndUKCUQ" name="Magnitud">
      <vertices xsi:type="sgraph:Entry" xmi:id="_XHmo8YtGEeqI8PSndUKCUQ">
        <outgoingTransitions xmi:id="_XHmo8otGEeqI8PSndUKCUQ" specification="" target="_XHn3EItGEeqI8PSndUKCUQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_XHn3EItGEeqI8PSndUKCUQ" specification="entry / opSetMagnitud(TENS)" name="TENSION" incomingTransitions="_XHmo8otGEeqI8PSndUKCUQ _XHsIh4tGEeqI8PSndUKCUQ _TOrTQI7uEeqSs7uGJ87zbg _fKCSAI7uEeqSs7uGJ87zbg">
        <outgoingTransitions xmi:id="_utswgItGEeqI8PSndUKCUQ" specification="evMagnitud" target="_XHrhc4tGEeqI8PSndUKCUQ"/>
        <outgoingTransitions xmi:id="_TOrTQI7uEeqSs7uGJ87zbg" specification="evUp/opIncTens()" target="_XHn3EItGEeqI8PSndUKCUQ"/>
        <outgoingTransitions xmi:id="_fKCSAI7uEeqSs7uGJ87zbg" specification="evDown/opDecTens()" target="_XHn3EItGEeqI8PSndUKCUQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_XHrhc4tGEeqI8PSndUKCUQ" specification="entry / opSetMagnitud(FREC)" name="FRECUENCIA" incomingTransitions="_utswgItGEeqI8PSndUKCUQ _2zWB8ItGEeqI8PSndUKCUQ _A5-6wItHEeqI8PSndUKCUQ">
        <outgoingTransitions xmi:id="_XHsIh4tGEeqI8PSndUKCUQ" specification="evMagnitud" target="_XHn3EItGEeqI8PSndUKCUQ"/>
        <outgoingTransitions xmi:id="_2zWB8ItGEeqI8PSndUKCUQ" specification="evUp/opIncFrec()" target="_XHrhc4tGEeqI8PSndUKCUQ"/>
        <outgoingTransitions xmi:id="_A5-6wItHEeqI8PSndUKCUQ" specification="evDown/opDecFrec()" target="_XHrhc4tGEeqI8PSndUKCUQ"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_IPEiAY_CEeaE_NItBGtDFQ" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_IPEiAI_CEeaE_NItBGtDFQ" measurementUnit="Pixel">
    <children xmi:id="_IPEiBI_CEeaE_NItBGtDFQ" type="Region" element="_IPEiA4_CEeaE_NItBGtDFQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_IPEiB4_CEeaE_NItBGtDFQ" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_IPEiCI_CEeaE_NItBGtDFQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_IPEiCY_CEeaE_NItBGtDFQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_IPEiCo_CEeaE_NItBGtDFQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_IPEiDo_CEeaE_NItBGtDFQ" type="Entry" element="_IPEiDY_CEeaE_NItBGtDFQ">
          <children xmi:id="_IPEiEY_CEeaE_NItBGtDFQ" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_IPEiFI_CEeaE_NItBGtDFQ" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_IPEiFY_CEeaE_NItBGtDFQ"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_IPEiFo_CEeaE_NItBGtDFQ"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_IPEiEo_CEeaE_NItBGtDFQ" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_IPEiE4_CEeaE_NItBGtDFQ"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_IPEiD4_CEeaE_NItBGtDFQ" fontName="Verdana" lineColor="4210752"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_IPEiF4_CEeaE_NItBGtDFQ" x="24" width="15" height="15"/>
        </children>
        <children xmi:id="_EvYFQRMaEeevvbhLDk5fag" type="State" element="_EvYFTRMaEeevvbhLDk5fag">
          <children xsi:type="notation:DecorationNode" xmi:id="_EvYFQhMaEeevvbhLDk5fag" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_EvYFQxMaEeevvbhLDk5fag"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_EvYFRBMaEeevvbhLDk5fag"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_EvYFRRMaEeevvbhLDk5fag" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_EvYFRhMaEeevvbhLDk5fag" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_EvYFRxMaEeevvbhLDk5fag"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_EvYFSBMaEeevvbhLDk5fag" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_EvYFSRMaEeevvbhLDk5fag" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_EvYFShMaEeevvbhLDk5fag"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_EvYFSxMaEeevvbhLDk5fag" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_EvYFTBMaEeevvbhLDk5fag" x="79" y="-23" width="204" height="63"/>
        </children>
        <children xmi:id="_wcPn4ItEEeqI8PSndUKCUQ" type="State" element="_wcPn7ItEEeqI8PSndUKCUQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_wcPn4YtEEeqI8PSndUKCUQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_wcPn4otEEeqI8PSndUKCUQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_wcPn44tEEeqI8PSndUKCUQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_wcPn5ItEEeqI8PSndUKCUQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_wcPn5YtEEeqI8PSndUKCUQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_wcPn5otEEeqI8PSndUKCUQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_wcPn54tEEeqI8PSndUKCUQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_wcPn6ItEEeqI8PSndUKCUQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_wcPn6YtEEeqI8PSndUKCUQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_wcPn6otEEeqI8PSndUKCUQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_wcPn64tEEeqI8PSndUKCUQ" x="318" y="34" width="201" height="63"/>
        </children>
        <children xmi:id="_zCMWcItEEeqI8PSndUKCUQ" type="State" element="_zCMWfItEEeqI8PSndUKCUQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_zCMWcYtEEeqI8PSndUKCUQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_zCMWcotEEeqI8PSndUKCUQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_zCMWc4tEEeqI8PSndUKCUQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_zCMWdItEEeqI8PSndUKCUQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_zCMWdYtEEeqI8PSndUKCUQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_zCMWdotEEeqI8PSndUKCUQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_zCMWd4tEEeqI8PSndUKCUQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_zCMWeItEEeqI8PSndUKCUQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_zCMWeYtEEeqI8PSndUKCUQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_zCMWeotEEeqI8PSndUKCUQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_zCMWe4tEEeqI8PSndUKCUQ" x="79" y="91" width="204" height="63"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_IPEiC4_CEeaE_NItBGtDFQ"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_IPEiBY_CEeaE_NItBGtDFQ" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_IPEiDI_CEeaE_NItBGtDFQ" x="315" y="-15" width="555" height="216"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_IPEiMI_CEeaE_NItBGtDFQ" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_IPOTAI_CEeaE_NItBGtDFQ" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_IPOTAY_CEeaE_NItBGtDFQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_IPOTAo_CEeaE_NItBGtDFQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_IPOTA4_CEeaE_NItBGtDFQ" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_IPOTBI_CEeaE_NItBGtDFQ"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_IPOTBY_CEeaE_NItBGtDFQ" x="-5" y="-15" width="317" height="513"/>
    </children>
    <children xmi:id="_XHla0ItGEeqI8PSndUKCUQ" type="Region" element="_XHmo8ItGEeqI8PSndUKCUQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_XHla0YtGEeqI8PSndUKCUQ" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_XHla0otGEeqI8PSndUKCUQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_XHla04tGEeqI8PSndUKCUQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_XHla1ItGEeqI8PSndUKCUQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_XHla1YtGEeqI8PSndUKCUQ" type="Entry" element="_XHmo8YtGEeqI8PSndUKCUQ">
          <children xmi:id="_XHla1otGEeqI8PSndUKCUQ" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_XHla14tGEeqI8PSndUKCUQ" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_XHla2ItGEeqI8PSndUKCUQ"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_XHla2YtGEeqI8PSndUKCUQ"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_XHla2otGEeqI8PSndUKCUQ" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_XHla24tGEeqI8PSndUKCUQ"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_XHla3ItGEeqI8PSndUKCUQ" fontName="Verdana" lineColor="4210752"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_XHla3YtGEeqI8PSndUKCUQ" x="24" width="15" height="15"/>
        </children>
        <children xmi:id="_XHla3otGEeqI8PSndUKCUQ" type="State" element="_XHn3EItGEeqI8PSndUKCUQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_XHla34tGEeqI8PSndUKCUQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_XHla4ItGEeqI8PSndUKCUQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_XHla4YtGEeqI8PSndUKCUQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_XHla4otGEeqI8PSndUKCUQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_XHla44tGEeqI8PSndUKCUQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_XHla5ItGEeqI8PSndUKCUQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_XHla5YtGEeqI8PSndUKCUQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_XHla5otGEeqI8PSndUKCUQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_XHla54tGEeqI8PSndUKCUQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_XHla6ItGEeqI8PSndUKCUQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_XHla6YtGEeqI8PSndUKCUQ" x="118" y="-23" width="209" height="63"/>
        </children>
        <children xmi:id="_XHla9otGEeqI8PSndUKCUQ" type="State" element="_XHrhc4tGEeqI8PSndUKCUQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_XHla94tGEeqI8PSndUKCUQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_XHla-ItGEeqI8PSndUKCUQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_XHla-YtGEeqI8PSndUKCUQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_XHla-otGEeqI8PSndUKCUQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_XHla-4tGEeqI8PSndUKCUQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_XHla_ItGEeqI8PSndUKCUQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_XHla_YtGEeqI8PSndUKCUQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_XHla_otGEeqI8PSndUKCUQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_XHla_4tGEeqI8PSndUKCUQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_XHlbAItGEeqI8PSndUKCUQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_XHlbAYtGEeqI8PSndUKCUQ" x="123" y="159" width="211" height="63"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_XHlbAotGEeqI8PSndUKCUQ"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_XHlbA4tGEeqI8PSndUKCUQ" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_XHlbBItGEeqI8PSndUKCUQ" x="315" y="200" width="555" height="298"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_IPEiAo_CEeaE_NItBGtDFQ"/>
    <styles xsi:type="notation:BooleanValueStyle" xmi:id="_kGUDMEd7EeqIz_OtR4ro9Q" name="inlineDefinitionSection" booleanValue="true"/>
    <edges xmi:id="_XlQmIBMaEeevvbhLDk5fag" type="Transition" element="_XlKfgBMaEeevvbhLDk5fag" source="_IPEiDo_CEeaE_NItBGtDFQ" target="_EvYFQRMaEeevvbhLDk5fag">
      <children xsi:type="notation:DecorationNode" xmi:id="_XlQmJBMaEeevvbhLDk5fag" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_XlQmJRMaEeevvbhLDk5fag"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_XlQmJhMaEeevvbhLDk5fag" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_XlQmIRMaEeevvbhLDk5fag" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_XlQmIxMaEeevvbhLDk5fag" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_XlQmIhMaEeevvbhLDk5fag" points="[7, 0, -154, 12]$[162, 17, 1, 29]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_XlWswBMaEeevvbhLDk5fag" id="(0.005719330569629971,0.5303030303030303)"/>
    </edges>
    <edges xmi:id="_BWwoQItFEeqI8PSndUKCUQ" type="Transition" element="_BWsW0ItFEeqI8PSndUKCUQ" source="_EvYFQRMaEeevvbhLDk5fag" target="_wcPn4ItEEeqI8PSndUKCUQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_BWxPUYtFEeqI8PSndUKCUQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_BWxPUotFEeqI8PSndUKCUQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_BWxPU4tFEeqI8PSndUKCUQ" x="61" y="-15"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_BWwoQYtFEeqI8PSndUKCUQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_BWxPUItFEeqI8PSndUKCUQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_BWwoQotFEeqI8PSndUKCUQ" points="[7, -2, -147, -36]$[77, -2, -77, -36]$[77, 32, -77, -2]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_BW05sItFEeqI8PSndUKCUQ" id="(0.968944099378882,0.4444444444444444)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_BW1gwItFEeqI8PSndUKCUQ" id="(0.546583850931677,0.047619047619047616)"/>
    </edges>
    <edges xmi:id="_IcKksItFEeqI8PSndUKCUQ" type="Transition" element="_IcCB0ItFEeqI8PSndUKCUQ" source="_wcPn4ItEEeqI8PSndUKCUQ" target="_zCMWcItEEeqI8PSndUKCUQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_IcMZ4ItFEeqI8PSndUKCUQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_IcMZ4YtFEeqI8PSndUKCUQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_IcMZ4otFEeqI8PSndUKCUQ" x="-63" y="-19"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_IcLLwItFEeqI8PSndUKCUQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_IcLy0ItFEeqI8PSndUKCUQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_IcLLwYtFEeqI8PSndUKCUQ" points="[-66, 5, 74, -31]$[-66, 35, 74, -1]$[-136, 35, 4, -1]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_IcbDYItFEeqI8PSndUKCUQ" id="(0.4906832298136646,0.9206349206349206)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_IcbDYYtFEeqI8PSndUKCUQ" id="(0.9813664596273292,0.5555555555555556)"/>
    </edges>
    <edges xmi:id="_MI6jQItFEeqI8PSndUKCUQ" type="Transition" element="_MI5VIItFEeqI8PSndUKCUQ" source="_zCMWcItEEeqI8PSndUKCUQ" target="_EvYFQRMaEeevvbhLDk5fag">
      <children xsi:type="notation:DecorationNode" xmi:id="_MI7KUYtFEeqI8PSndUKCUQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_MI7KUotFEeqI8PSndUKCUQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_MI7KU4tFEeqI8PSndUKCUQ" x="-3" y="-47"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_MI6jQYtFEeqI8PSndUKCUQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_MI7KUItFEeqI8PSndUKCUQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_MI6jQotFEeqI8PSndUKCUQ" points="[12, 0, 0, 161]$[12, -159, 0, 2]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_MI9mkItFEeqI8PSndUKCUQ" id="(0.4782608695652174,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_MI9mkYtFEeqI8PSndUKCUQ" id="(0.5403726708074534,0.9682539682539683)"/>
    </edges>
    <edges xmi:id="_XHzdQItGEeqI8PSndUKCUQ" type="Transition" element="_XHmo8otGEeqI8PSndUKCUQ" source="_XHla1YtGEeqI8PSndUKCUQ" target="_XHla3otGEeqI8PSndUKCUQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_XHzdQYtGEeqI8PSndUKCUQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_XHzdQotGEeqI8PSndUKCUQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_XHzdQ4tGEeqI8PSndUKCUQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_XHzdRItGEeqI8PSndUKCUQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_XHzdRYtGEeqI8PSndUKCUQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_XHzdRotGEeqI8PSndUKCUQ" points="[8, 0, -80, 0]$[32, 0, -56, 0]$[87, 0, -1, 0]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_XHzdR4tGEeqI8PSndUKCUQ" id="(0.005719330569629971,0.5303030303030303)"/>
    </edges>
    <edges xmi:id="_XH0EYotGEeqI8PSndUKCUQ" type="Transition" element="_XHsIh4tGEeqI8PSndUKCUQ" source="_XHla9otGEeqI8PSndUKCUQ" target="_XHla3otGEeqI8PSndUKCUQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_XH0EY4tGEeqI8PSndUKCUQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_XH0EZItGEeqI8PSndUKCUQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_XH0EZYtGEeqI8PSndUKCUQ" x="-5" y="-48"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_XH0EZotGEeqI8PSndUKCUQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_XH0EZ4tGEeqI8PSndUKCUQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_XH0EaItGEeqI8PSndUKCUQ" points="[-23, 0, -30, 126]$[-23, -124, -30, 2]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_XH0EaYtGEeqI8PSndUKCUQ" id="(0.4782608695652174,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_XH0EaotGEeqI8PSndUKCUQ" id="(0.5403726708074534,0.9682539682539683)"/>
    </edges>
    <edges xmi:id="_uty3IItGEeqI8PSndUKCUQ" type="Transition" element="_utswgItGEeqI8PSndUKCUQ" source="_XHla3otGEeqI8PSndUKCUQ" target="_XHla9otGEeqI8PSndUKCUQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_utzeMItGEeqI8PSndUKCUQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_utzeMYtGEeqI8PSndUKCUQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_utzeMotGEeqI8PSndUKCUQ" x="5" y="-51"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_uty3IYtGEeqI8PSndUKCUQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_uty3I4tGEeqI8PSndUKCUQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_uty3IotGEeqI8PSndUKCUQ" points="[-41, 4, -43, -124]$[-41, 128, -43, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ut3IkItGEeqI8PSndUKCUQ" id="(0.7647058823529411,0.9365079365079365)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ut3IkYtGEeqI8PSndUKCUQ" id="(0.7450980392156863,0.015873015873015872)"/>
    </edges>
    <edges xmi:id="_2zZsUItGEeqI8PSndUKCUQ" type="Transition" element="_2zWB8ItGEeqI8PSndUKCUQ" source="_XHla9otGEeqI8PSndUKCUQ" target="_XHla9otGEeqI8PSndUKCUQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_2za6cItGEeqI8PSndUKCUQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_2za6cYtGEeqI8PSndUKCUQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_2za6cotGEeqI8PSndUKCUQ" x="16" y="17"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_2zaTYItGEeqI8PSndUKCUQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_2zaTYotGEeqI8PSndUKCUQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_2zaTYYtGEeqI8PSndUKCUQ" points="[205, 2, 205, 2]$[220, 2, 220, 2]$[220, -41, 220, -41]$[169, -41, 169, -41]$[169, -26, 169, -26]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_2zfL4ItGEeqI8PSndUKCUQ" id="(0.004901960784313725,0.4603174603174603)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_2zfL4YtGEeqI8PSndUKCUQ" id="(0.004901960784313725,0.4603174603174603)"/>
    </edges>
    <edges xmi:id="_A6BXAItHEeqI8PSndUKCUQ" type="Transition" element="_A5-6wItHEeqI8PSndUKCUQ" source="_XHla9otGEeqI8PSndUKCUQ" target="_XHla9otGEeqI8PSndUKCUQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_A6B-EYtHEeqI8PSndUKCUQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_A6B-EotHEeqI8PSndUKCUQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_A6B-E4tHEeqI8PSndUKCUQ" x="8" y="22"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_A6BXAYtHEeqI8PSndUKCUQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_A6B-EItHEeqI8PSndUKCUQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_A6BXAotHEeqI8PSndUKCUQ" points="[-4, -54, -4, -54]$[-4, -69, -4, -69]$[-63, -69, -63, -69]$[-63, -23, -63, -23]$[-38, -23, -38, -23]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_A6DMMItHEeqI8PSndUKCUQ" id="(0.19117647058823528,0.9365079365079365)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_A6DMMYtHEeqI8PSndUKCUQ" id="(0.19117647058823528,0.9365079365079365)"/>
    </edges>
    <edges xmi:id="_TO1EQI7uEeqSs7uGJ87zbg" type="Transition" element="_TOrTQI7uEeqSs7uGJ87zbg" source="_XHla3otGEeqI8PSndUKCUQ" target="_XHla3otGEeqI8PSndUKCUQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_TO1ERI7uEeqSs7uGJ87zbg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_TO1ERY7uEeqSs7uGJ87zbg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_TO1ERo7uEeqSs7uGJ87zbg" x="6" y="-18"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_TO1EQY7uEeqSs7uGJ87zbg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_TO1EQ47uEeqSs7uGJ87zbg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_TO1EQo7uEeqSs7uGJ87zbg" points="[5, 18, 5, 18]$[26, 18, 26, 18]$[26, 54, 26, 54]$[-24, 54, -24, 54]$[-24, 30, -24, 30]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_TO-1QI7uEeqSs7uGJ87zbg" id="(0.9754901960784313,0.49206349206349204)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_TO-1QY7uEeqSs7uGJ87zbg" id="(0.9754901960784313,0.49206349206349204)"/>
    </edges>
    <edges xmi:id="_fKCSAY7uEeqSs7uGJ87zbg" type="Transition" element="_fKCSAI7uEeqSs7uGJ87zbg" source="_XHla3otGEeqI8PSndUKCUQ" target="_XHla3otGEeqI8PSndUKCUQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_fKCSBY7uEeqSs7uGJ87zbg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_fKCSBo7uEeqSs7uGJ87zbg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_fKCSB47uEeqSs7uGJ87zbg" x="-14" y="23"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_fKCSAo7uEeqSs7uGJ87zbg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_fKCSBI7uEeqSs7uGJ87zbg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_fKCSA47uEeqSs7uGJ87zbg" points="[-33, -5, -33, -5]$[-53, -5, -53, -5]$[-53, 26, -53, 26]$[-3, 26, -3, 26]$[-3, 7, -3, 7]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_fKCSCI7uEeqSs7uGJ87zbg" id="(0.16666666666666666,0.8888888888888888)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_fKCSCY7uEeqSs7uGJ87zbg" id="(0.16666666666666666,0.8888888888888888)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
